// con @use mettiamo as *, con @import non serve
// richiamo le partials che mi occorrono

@use "./partials/reset" as *;
@use "./partials/variables" as *;
@import "./partials/mixin";

// con @use usare 'as *'
// con @import non usare niente

body {
  background-color: $body-bg-color;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
