$body-bg-color: lightgreen;
$main-color: blue;
$text-header-color: white;
$text-footer-color: white;
$section-color: white;
$border-color: white;
$header-color: #ff6900;
$active-color: #e5e5e5;
$footer-color: #1a1a1a;
